{
    "source": {
        "directories": [
            "src"
        ],
        "excludes": [
            "Migration"
        ]
    },
    "logs": {
        "text": "php:\/\/stderr",
        "stryker": {
            "report": "master"
        }
    },
    "mutators": {
        "@default": true
    }
}
